#root,
.App {
    width: 100%;
    height: 100%;
    z-index: 2;
}
.App {
    display: flex;
}

.sidebar {
    width: 480px;
    height: 90vh;
    background-color: rgb(28, 32, 34);
    color: #fff;
    position: fixed;
    transform: translate(-480px);
    transition: opacity 250ms cubic-bezier(0.4, 0, 1, 1),
        transform 250ms cubic-bezier(0.4, 0, 1, 1);
}
.sidebarActive {
    transform: translate(0);
}
.content {
    width: 100%;
    height: 90vh;
    background-color: rgb(28, 32, 34);
    color: #fff;
}

.codeEditor {
    width: 100% !important;
    height: 75vh !important;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.spinner {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
