.footerBar {
    display: flex;
    margin-bottom: 0;
    opacity: 1;
    height: 88px;
    position: fixed;
    z-index: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    bottom: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.38);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 1, 1),
        transform 250ms cubic-bezier(0.4, 0, 1, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 1, 1),
        transform 250ms cubic-bezier(0.4, 0, 1, 1);
    white-space: nowrap;
    width: 100vw;
    z-index: 3;
    transform: translateY(0);
}
.addInteractionBtn {
    position: absolute;
    left: 24px;
}

.showParticipantsBtn {
    position: absolute;
    right: 24px;
}
.coreActions {
    display: flex;
        justify-content: center;
    width: 300px;
}
.callingBtn {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0 8px;
    padding: 12px 8px;
    border: 1px solid rgba(38, 50, 56, 0.149);
    background-color: #fff;
    cursor: pointer;
    transition: all 0.25s linear;
}
.callingBtn:hover {
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.callingBtn svg {
    width: 24px;
    height: 24px;
}
.callEndBtn svg {
    fill: red;
}
